* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.column {
  float: left;
}
.container {
  margin: 0%;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1840px;
}
.row {
  width: 100%;
  margin: 0;
}
.left {
  width: 25%;
}
.right {
  width: 75%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
